name: chrome

on:
  push:
    branches: [ main ]
    paths:
      - 'cypress/**'
      - 'src/**'
      - 'dev/**'

  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]
    branches: [ main ]
    paths:
      - 'cypress/**'
      - 'src/**'
      - 'dev/**'

jobs:
  main:
    name: End-to-end
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          record: true
          build: npm ci
          start: npm run serve
          browser: chrome
          spec: cypress/integration/functional/*
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
